<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <title>Meus Treinos - FitCore</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <!-- CSS base (topbar + navbar) -->
    <link rel="stylesheet" href="/css/landing.css">

    <!-- CSS da tela -->
    <link rel="stylesheet" href="/css/meu-treino.css">
</head>

<body>

    <!-- TOPBAR -->
    <div class="topbar">

        <span>
            <i class="material-symbols-outlined">location_on</i>
            São Luís - MA
        </span>

        <span>
            <i class="material-symbols-outlined">call</i>
            (98) 99999-9999
        </span>

        <span>
            <i class="material-symbols-outlined">mail</i>
            contato@fitcore.com
        </span>

    </div>

    <!-- NAVBAR -->
    <nav class="landing-navbar">

        <h2 class="landing-logo">FIT<span>CORE</span></h2>

        <ul>
            <li><a href="/cliente/dashboard">Dashboard</a></li>
            <li><a class="active" href="/cliente/meu-treino">Meus Treinos</a></li>
            <li><a href="/cliente/evolucao">Evolução</a></li>
            <li><a href="/cliente/minha-matricula">Matrícula</a></li>
        </ul>

        <div class="nav-buttons">
            <button class="btn-login">SAIR</button>
        </div>

    </nav>

    <!-- HERO -->
    <main class="treinos-page">

        <section class="treinos-hero">

            <div class="treinos-content">

                <p class="treinos-mini">
                    SEUS TREINOS
                </p>

                <h1>
                    ACOMPANHE SUA
                    <br>
                    <span>ROTINA</span>
                </h1>

                <p>
                    Veja seus treinos personalizados,
                    séries, cargas e evolução semanal.
                </p>

            </div>

            <!-- CARDS -->
            <div class="treinos-cards">

                <div class="treino-card">
                    <h3>Treino A</h3>
                    <p>Peito + tríceps</p>
                     <ul>
                        <li>Supino reto</li>
                        <li>Supino inclinado</li>
                        <li>Crucifixo</li>
                        <li>Tríceps corda</li>
                    </ul>
                </div>

                <div class="treino-card">
                    <h3>Treino B</h3>
                    <p>Costas + bíceps</p>
                </div>

                <div class="treino-card">
                    <h3>Treino C</h3>
                    <p>Pernas completo</p>
                </div>

                <div class="treino-card">
                    <h3>Cardio</h3>
                    <p>Condicionamento</p>
                </div>

            </div>

        </section>

    </main>

</body>

</html>